* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-weight: 500;
  color: #555;
}

.main-components {
  display: flex;
  flex-direction: column;
}
