* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.box {
  background-color: #c5f6fa;
  border: 3px solid white;
  border-radius: 0.5em;
  padding: 10px;
  cursor: move;
}

.box.over {
  border: 3px dotted #666;
}
