/**************************/
/*Below 450 */
/**************************/

@media only screen and (max-width: 28.13em) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 0 1.8rem;
  }
  .header__logo {
    width: 80%;
  }

  .navigation__list {
    gap: 2.8rem;
  }
}
