.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}

.box {
  margin: 2rem 1rem;
  background-color: #1098ad;
  border: 0px solid #fff;
  border-radius: 0.5em;
  padding: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  /* cursor: move; */
  /* min-height: 10rem; */
  cursor: pointer;
  position: relative;
}

.box:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.header-stick {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  position: absolute;

  top: 1rem;
  right: 1rem;
}
.icon-stick {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
  stroke: rgba(51, 51, 51, 0.699);
}

.icon-stick:hover {
  fill: #3bc9db;
}

.icon-stick:active {
  fill: #99e9f2;
}
.text-content {
  margin-top: 2rem;
}
.box.over {
  border: 3px dotted #666;
}
